name: update_ranked

run-name: 'run #${{ github.run_number }} on ${{ github.event_name }}'

on:
  workflow_dispatch:
  schedule:
    - cron:  '7,22,37,52 * * * *'

env:
  API_KEY: ${{ secrets.API_KEY }}

defaults:
  run:
    shell: bash
    working-directory: ./scripts

jobs:
  update_ranked:
    environment: ranked
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          ref: 'main'
          fetch-depth: '0'

      - name: get php 8.3
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'

      - name: php version
        run: php -v

      - name: update_ranked
        run: ./update_ranked.php

      - name: git push
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git config pull.rebase false
          echo -e '\n --- git status\n'
          git status
          echo -e '\n --- git pull\n'
          git pull --stat -X theirs
          echo -e '\n --- git commit\n'
          git commit -am 'update_ranked' || true
          echo -e '\n --- git status\n'
          git status
          echo -e '\n --- git push\n'
          git push
          echo -e '\n --- git status\n'
          git status

